@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;

  isolation: isolate;
}

:root {
  --background: 271 100% 100%;
  --foreground: 271 5% 10%;
  --card: 271 50% 100%;
  --card-foreground: 271 5% 15%;
  --popover: 271 100% 100%;
  --popover-foreground: 271 100% 10%;
  --primary: 271 51% 46%;
  --primary-foreground: 0 0% 100%;
  --secondary: 271 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 233 30% 95%;
  --muted-foreground: 271 5% 40%;
  --accent: 233 30% 90%;
  --accent-foreground: 271 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 271 5% 100%;
  --border: 271 30% 82%;
  --input: 271 30% 50%;
  --ring: 271 51% 46%;
  --radius: 0.5rem;
}
.dark {
  --background: 271 50% 10%;
  --foreground: 271 5% 100%;
  --card: 271 50% 10%;
  --card-foreground: 271 5% 100%;
  --popover: 271 50% 5%;
  --popover-foreground: 271 5% 100%;
  --primary: 271 51% 46%;
  --primary-foreground: 0 0% 100%;
  --secondary: 271 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 233 30% 25%;
  --muted-foreground: 271 5% 65%;
  --accent: 233 30% 25%;
  --accent-foreground: 271 5% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 271 5% 100%;
  --border: 271 30% 50%;
  --input: 271 30% 50%;
  --ring: 271 51% 46%;
  --radius: 0.5rem;
}

html,
body,
#root {
  @apply bg-background text-foreground m-0 text-base h-full font-sans;
}
