@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;

  isolation: isolate;
  --my-font: "Roboto", sans-serif;
}

:root {
  --background: 271 100% 100%;
  --foreground: 271 5% 10%;
  --card: 271 50% 100%;
  --card-foreground: 271 5% 15%;
  --popover: 271 100% 100%;
  --popover-foreground: 271 100% 10%;
  --primary: 271 51% 46%;
  --primary-foreground: 0 0% 100%;
  --secondary: 271 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 233 30% 95%;
  --muted-foreground: 271 5% 40%;
  --accent: 233 30% 90%;
  --accent-foreground: 271 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 271 5% 100%;
  --border: 271 30% 82%;
  --input: 271 30% 50%;
  --ring: 271 51% 46%;
  --radius: 0.5rem;
}
.dark {
  --background: 271 50% 10%;
  --foreground: 271 5% 100%;
  --card: 271 50% 10%;
  --card-foreground: 271 5% 100%;
  --popover: 271 50% 5%;
  --popover-foreground: 271 5% 100%;
  --primary: 271 51% 46%;
  --primary-foreground: 0 0% 100%;
  --secondary: 271 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 233 30% 25%;
  --muted-foreground: 271 5% 65%;
  --accent: 233 30% 25%;
  --accent-foreground: 271 5% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 271 5% 100%;
  --border: 271 30% 50%;
  --input: 271 30% 50%;
  --ring: 271 51% 46%;
  --radius: 0.5rem;
}

html,
body,
#root {
  @apply bg-background text-foreground m-0 text-base h-full font-[family-name:var(--my-font)];
}

.cutoff-text {
  --max-lines: 3;
  --line-height: 1.4;

  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);

  overflow: hidden;
  position: relative;
}

.cutoff-text:has(+ .expand-btn:not(:checked))::before {
  content: "";
  position: absolute;
  height: calc(1em * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, hsl(var(--background)));
}

.expand-btn {
  appearance: none;
  margin-top: 1rem;
}

.expand-btn::before {
  content: "▼ See more";
  color: hsl(var(--foreground) / 0.8);
  cursor: pointer;
}

.expand-btn:checked::before {
  content: "▲ See less";
}

.cutoff-text:has(+ .expand-btn:checked) {
  max-height: none;
}
